<plugin name='omar-superoverlay' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/omar-superoverlay</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.ossim.omar.SuperOverlayController</resource>
    <resource>org.ossim.omar.SuperOverlayQueueItem</resource>
    <resource>org.ossim.omar.SuperoverlayJob</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>