<plugin name='omar-opensearch' version='0.1' grailsVersion='2.5 &gt; *'>
  <author>Your name</author>
  <title>Omar Opensearch Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/omar-opensearch</documentation>
  <type>OmarOpensearchGrailsPlugin</type>
  <resources />
</plugin>