apps/cstars-footprints/*.iml
apps/cstars-footprints/*.ipr
apps/cstars-footprints/.idea
apps/cstars-footprints/ShapeFiles
apps/cstars-footprints/stacktrace.log
apps/cstars-footprints/target
apps/omar/*.war
apps/omar/logs
apps/omar/oms-all.txt
apps/omar/oms-data.dat
apps/omar/oms-failure.txt
apps/omar/oms-skipped.txt
apps/omar/oms-success.txt
apps/omar/out
apps/omar/stacktrace.log
apps/omar/web-app/WEB-INF
apps/omar/web-app/js/yui
apps/omar/web-app/js/yui-cms
apps/omar/web-app/plugins
apps/uimakeover/target/*
apps/uimakeover/web-app/js/yui
apps/uimakeover/web-app/js/yui-cms
plugins/postgis/*.log
plugins/postgis/*.zip
plugins/postgis/target
