<plugin name='openlayers' version='0.12' grailsVersion='1.3.7 &gt; *'>
  <author>Scott Bortman</author>
  <authorEmail>scott.bortman@gmail.com</authorEmail>
  <title>OpenLayers</title>
  <description>OpenLayers 2.9 bundle for use within Grails environment.
</description>
  <documentation>http://grails.org/Openlayers+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>OpenlayersTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>