<plugin name='openlayers' version='0.10' grailsVersion='1.2.2 &gt; *'>
  <author>Scott Bortman</author>
  <authorEmail>scott.bortman@gmail.com</authorEmail>
  <title>OpenLayers</title>
  <description>OpenLayers 2.9 bundle for use within Grails environment.
</description>
  <documentation>http://grails.org/Openlayers+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>OpenlayersTagLib</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>