/*
margin and padding on body element
can introduce errors in determining
element position and are not recommended;
we turn them off as a foundation for YUI
CSS treatments.
*/
body {
    margin: 0;
    padding: 0;
    visibility: hidden;
    overflow: hidden;
}
