<plugin name='omar-rss' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Scott Bortman</author>
  <authorEmail>sbortman@radiantblue.com</authorEmail>
  <title>OMAR RSS Feed</title>
  <description>\
Generates RSS feed based on Country Code or BE Number
</description>
  <documentation>http://grails.org/plugin/omar-rss</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.ossim.omar.RssFeedController</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>