<plugin name='omar-ogc' version='0.1' grailsVersion='1.3.5 &gt; *'>
  <author>Scott Bortman</author>
  <authorEmail>sbortman@radiantblue.com</authorEmail>
  <title>OMAR OGC</title>
  <description>\
Adds OGC functionality to OMAR
</description>
  <documentation>http://grails.org/plugin/omar-ogc</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.ossim.omar.KmlQueryController</resource>
    <resource>org.ossim.omar.OgcController</resource>
    <resource>org.ossim.omar.RasterEntryExportController</resource>
    <resource>org.ossim.omar.WmsLog</resource>
    <resource>org.ossim.omar.ExportService</resource>
    <resource>org.ossim.omar.KmlService</resource>
    <resource>org.ossim.omar.WebMappingService</resource>
    <resource>org.ossim.omar.WmsLogService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>