<plugin name='filterpane' version='2.0.1.2' grailsVersion='2.2.0 &gt; *'>
  <author>Steve Krenek</author>
  <authorEmail>zeddmaxim@gmail.com</authorEmail>
  <title>Dynamically filter / search domain objects.</title>
  <description>This plugin adds automatic filtering capabilities to any Grails application's list views.</description>
  <documentation>http://grails.org/plugin/filterpane</documentation>
  <type>FilterpaneGrailsPlugin</type>
  <resources>
    <resource>org.grails.plugin.filterpane.FilterPaneService</resource>
    <resource>org.grails.plugin.filterpane.FilterPaneTagLib</resource>
    <resource>org.grails.plugin.filterpane.FilterPaneUtils</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.osgeo.org/webdav/geotools' url='http://download.osgeo.org/webdav/geotools/' />
    <repository name='http://www.hibernatespatial.org/repository' url='http://www.hibernatespatial.org/repository/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
    <repository name='http://repo.opengeo.org' url='http://repo.opengeo.org/' />
    <repository name='http://repo.grails.org/grails/libs-releases' url='http://repo.grails.org/grails/libs-releases/' />
    <repository name='http://m2repo.spockframework.org/ext/' url='http://m2repo.spockframework.org/ext/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.apache.ant' name='ant-launcher' version='1.8.2' />
      <dependency group='org.apache.ant' name='ant' version='1.8.2' />
    </compile>
  </dependencies>
  <plugins>
    <runtime>
      <plugin group='org.grails.plugins' name='yui' version='2.8.2.1' />
      <plugin group='org.grails.plugins' name='yui-minify-resources' version='0.1.5' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.0' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
      <plugin group='org.grails.plugins' name='p6spy' version='0.5' />
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.0' />
    </runtime>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>